# Byte-compiled / optimized / DLL files
*.DS_Store
__pycache__/
*.py[cod]
*$py.class

# Images/Outputs-Linear
*.png
*.pdf
*.jpeg
*.jpg
*.txt
*.zip
*.pkl

# Txt exceptions
!requirements.txt

## Data
Data/*
!Data/**/
!Data/**/.gitkeep
*.csv
*.numbers
*.xlsx
*.dot
*.doc
*.sav
*.dta

#Results
Results/*
!Reults/**/.gitkeep

#Outputs
Outputs/*
!Outputs/**/
!Outputs/**/.gitkeep

# C extensions
*.so

# Ignore Python virtual environments
.venv/
venv/
.env/
*.pyc
__pycache__/
